# Virtual environment
.venv
venv

# data folder
code/data/appended
code/data/raw
code/data/metadata
code/data/cleaned
code/data/synchronized
code/data/filtered

# Everything related to depreciated writing folder writing/
writing/

# large notebooks
code/data/cleaning-scripts/notebooks/post_filter_explore.ipynb