# Virtual environment
.venv
venv

# logs
code/outputs/

# data folder
code/data/appended
code/data/raw
code/data/metadata
code/data/cleaned
code/data/synchronized
code/data/filtered
code/data/aggregated
code/data/engineered
code/data/train-and-test

# Everything related to depreciated writing folder writing/
writing/

# large notebooks
code/data/cleaning-scripts/notebooks/post_filter_explore.ipynb