# Virtual environment
.venv
venv

# data folder
code/data/appended
code/data/raw
code/data/metadata
code/data/cleaned
code/data/synchronized

# Everything related to depreciated writing folder writing/
writing/